
.container {
   margin: 100px 0 0 40%;
   background:black;
   color: lime;
   width: 240px;
}

h1 {
   font-size: 40px;
   margin-bottom: 0;
   color: silver;
}

.second-title {
   font-size: 16px;
   font-style: italic;
   margin-top: 5px;
   margin-bottom: 40px;
}