
.container {
   margin-top: 100px;
   margin-left: 44%;
}

h1 {
   font-size: 40px;
   margin-bottom: 0;
}

.second-title {
   font-size: 16px;
   font-style: italic;
   margin-top: 5px;
   margin-bottom: 40px;
}