
.container {
   position: absolute;
   top: 10%;
   left: 42%;
   translate: transform(-10% -42%);
   background:black;
   color: green;
   text-shadow: 3px 3px 5px blue;
   padding: 0 5px;
}

h1, h3 {
   color: silver;
}

.second-title {
   font-size: 16px;
   font-style: italic;
   margin-top: 5px;
   margin-bottom: 40px;
}